body {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.button-bar {
  margin: 10px;
}

#canvas {
  border: 1px solid black;
}

.buttons-and-stuff {
  padding: 10px;
}

.canvas-wrapper {
  margin: 10px;
  /* This makes it fill the whole remaining space since other divs have no flex
   * value given. */
  flex: 1;
}

.error-message {
  color: red;
  /* start out invisible */
  display: none;
}

.help {
  margin: 10px;
  padding-bottom: 10px;
}
